.read-more {
  border: 1px solid $primary-color-light;
  padding: $spacer;
  border-radius: $default-border-radius;
  max-height: 600px;
  position: relative;

  &[data-has-button='true'] {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 60px;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: $default-border-radius;
      background: linear-gradient(
        0deg,
        rgba(6, 20, 31, 1) 0%,
        rgba(6, 20, 31, 0) 100%
      );
    }
  }

  &[data-is-open='true'] {
    padding-bottom: map-get($spacers, 2);

    &:before {
      display: none;
    }
  }

  &--borderless {
    border: none;
    border-radius: 0;
    padding: $spacer 0;

    &[data-has-button='true'] {
      border-bottom: 1px solid $primary-color-light;
    }

    &[data-is-open='true'] {
      border: none;
    }
  }

  &__button {
    position: absolute;
    bottom: calc(#{map-get($spacers, 2)} * -1);
    left: 50%;
    transform: translate(-50%);

    background: $primary-color;
    color: white;
    font-size: map-get($font-sizes, sm);
    padding: 0.4rem $spacer;
    border-radius: 30px;
    border: 1px solid $primary-color-light;
    cursor: pointer;
  }
}
