/* COLORS */
$bg-dark: #06141f;
$bg-light: #742c14;

$primary-color: #3d4f7d;
$secondary-color: #cd4f37;
$tertiary-color: #ead890;

$main-font-color: #333333;

$white: #ffffff;
$black: #000000;

/* FONTS */
$header-font: 'Roboto Condensed', sans-serif;
$default-font: 'Open Sans', sans-serif;
$default-font-size: 1.4rem;

/* Default Spacing */
$spacer: 0.8rem;

/* Heights and Widths */
$header-height: 115px;

/* reponsive breakpoints */
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
