.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: map-get($spacers, 5);
  padding: map-get($spacers, 3);

  &__title {
    margin-bottom: map-get($spacers, 4);
    display: flex;
    justify-content: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: map-get($spacers, 4);
    max-width: 100%;

    @include respond(phone) {
      grid-template-columns: 100%;
      gap: map-get($spacers, 8);
    }

    @include respond(big-desktop) {
      max-width: 50vw;
    }
  }
}
